.footer {
    position: relative;
    height: 100%;
    background: #0f0f0f;
  
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      
      .aboutUs{
        color: #ffffff;
        line-height: 1.6;
      }
    }
  
    .container > div {
      flex-grow: 1;
      flex-basis: 0;
      padding: 3rem 1rem 3rem 0rem;
    }
  
    .aboutUs i {
      margin-inline-end: 10px;
    }
  
    .aboutUs img {
      width: 300px;
      height: 300px;
      margin-top: -80px;
      margin-bottom: -70px;
    }
  
  .instagram {
   margin: 0 auto;
     max-width: 300px; // largeur max pour mieux contrôler l'apparence

  h2 {
     text-align: center;
    color: #ffffff;
  }

  .links {
     display: flex;               // active flexbox
     flex-direction: column;
     gap: 1rem;  // espace entre les liens
                     

    a {
      display: block;
      text-decoration: overline;              // chaque <Link> occupe toute la ligne
      margin-bottom: 0.5rem; 
      color: #fff;     // espace entre les liens

      &:hover {
        color: #007BFF;
      }
    }
  }
}

    .follow {
        i {
        color: white;
        padding: 0rem;
        }

        p{
            color: #ffffff;
        }
      
         h2 {
          color: #ffffff;
        }
        
    }
  
    .moveUp {
      position: absolute;
      right: 8%;
      top: 50%;
    }
  
    .moveUp span:hover {
      color: #ffffff;
      cursor: pointer;
    }
  
    .moveUp span {
      color: #104f55;
    }
  
    .footer2 {
      text-align: center;
      color: #fff;
    }
  
    /* 🔹 Icônes des réseaux sociaux */
    .main {
      display: flex;
    }
  
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      background: #0e2439;
      margin: 10px;
      font-size: 15px;
      line-height: 70px;
      font-family: sans-serif;
      overflow: hidden;
      transition: all 0.3s ease-out;
  
      i {
        font-size: 35px;
      }
  
      &:hover {
        width: 130px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
      }
  
      &:hover i {
        color: #fff;
      }
    }
  
    .fb:hover {
      background: #1a6ed8;
    }
  
    .twt:hover {
      background: #1da1f2;
    }
  
    .lnk:hover {
      background: #0077b5;
    }
  .fb{
    text-decoration: none;
  }
    /* 🌍 Responsive */
    @media (max-width: 1130px) {
      .container {
        grid-template-columns: repeat(1, 1fr);
        
      }

      .container > div {
        padding: 1.5rem 0.9rem;
      }

        .instagram {
          margin: 0; // plus centré, maintenant aligné à gauche
          max-width: none; // largeur libre
           h2 {
            text-align: left;
          }
        }
    }
  
    @media (max-width: 768px) {

      .container {
       gap: 20px;
        
      }

        .container > div {
          padding: 1rem 0.5rem 0rem 0rem;
        }

        .newsletter iframe{
          width: 100%;
        }

         .instagram {
          margin: 0; // plus centré, maintenant aligné à gauche
          max-width: none; // largeur libre
           h2 {
            text-align: left;
          }
        }

    }
  
    @media (max-width: 520px) {
      .container > div {
        padding: 0rem 0.9rem !important;
      }

        .instagram {
          margin: 0; // plus centré, maintenant aligné à gauche
          max-width: none; // largeur libre
           h2 {
            text-align: left;
          }
        }
    }

    @media screen and (max-width: 429px) {
       .aboutUs{
        margin-top: 40px;
      }
    }
  }
  